{% extends "base.html" %}
{% block content %}
{{ super() }}
<center><h1> Омерзительная восьмёрка<br></h1>
<p>США после Гражданской войны. Легендарный охотник за головами Джон Рут по кличке Вешатель конвоирует заключенную.
  По пути к ним прибиваются еще несколько путешественников. Снежная буря вынуждает компанию искать укрытие в лавке на отшибе, где уже расположилось весьма пёстрое общество:
  генерал конфедератов, мексиканец, ковбой… И один из них — не тот, за кого себя выдает.</p>
</center>
 <h3>Описание</h3>
        <div class="film">
        <ul>
            <li></li>
            <li>Жанр:вестерн, преступление, триллер, драма</li>
            <li>Страна: США</li>
            <li>Режиссёр:Квентин Тарантино</li>
            <li>Музыка: Эннио Морриконе</li>
            <li>Длительность: 168 мин.</li>
        </ul></div>
<h3>Актёры</h3>
        <img src="https://avatars.mds.yandex.net/i?id=005b0a623d11926bbf220259ea2ea89580b998a1-4628448-images-thumbs&n=13">
        <p>Курт Рассел</p>
        <p>Американский актёр, сценарист и продюсер. Прежде всего запомнился зрителю по многим ролям в фантастических фильмах и боевиках конца 1980-х и начала 1990-х годов. Также стоит отметить его главные и запоминающиеся роли в таких популярных фильмах, как «Нечто», «Побег из Нью-Йорка», «Костяной томагавк», «Доказательство смерти», а также «Омерзительная восьмёрка». В 2003 году актёр получил премию «Сатурн» в категории «Награда за достижения в карьере»</p>
        <img src="https://avatars.mds.yandex.net/i?id=b2103cdbbb7fb582c643e277f41ce2939e4203f8-7731990-images-thumbs&n=13">
        <p>Сэмюэл Л. Джексон</p>
        <p>Американский актёр кино и телевидения, продюсер. В 1991 году получил признание критиков за свою роль в фильме «Тропическая лихорадка», а после появился в таких фильмах, как «Славные парни», «Игры патриотов» и «Парк юрского периода». В 1994 году снялся в фильме «Криминальное чтиво», что вывело его на уровень суперзвёзд и принесло несколько наград. С тех пор Джексон снялся более чем в 100 фильмах и завоевал множество наград на протяжении всей своей карьеры.</p>
        <img src="https://avatars.mds.yandex.net/i?id=d8e022bec5e78724b3d2b16fefbb507e45b57113-8000733-images-thumbs&n=13">
        <p>Дженнифер Джейсон Ли</p>
        <p>Американская актриса, кинорежиссёр, сценарист, продюсер и певица. Номинант на премии «Оскар», BAFTA и «Золотой глобус», за «Лучшую женскую роль второго плана» в фильме «Омерзительная восьмёрка»</p>
        <img src="https://avatars.mds.yandex.net/i?id=779e368d947cd0897d9eb31ed1be5235609e5b21-5243715-images-thumbs&n=13">
        <p>Майкл Мэдсен</p>
        <p>Американский актёр, снявшийся более чем в 170 фильмах. Наиболее известен благодаря своему участию в таких картинах, как «Бешеные псы», «Донни Браско», «Убить Билла», «Город грехов», «Омерзительная восьмёрка» и других. </p>
{% endblock %}