{% extends "base.html" %}
{% block content %}
{{ super() }}
<center><h1> Драйв <br></h1>
<p>Великолепный водитель – при свете дня он выполняет каскадерские трюки на съёмочных площадках Голливуда,
  а по ночам ведет рискованную игру. Но один опасный контракт – и за его жизнь назначена награда.
  Теперь, чтобы остаться в живых и спасти свою очаровательную соседку, он должен делать то, что умеет лучше всего
  – виртуозно уходить от погони.</p>
</center>
 <h3>Описание</h3>
        <div class="film">
        <ul>
            <li></li>
            <li>Жанрд:рама, преступление, триллерг</li>
            <li>Страна: США</li>
            <li>Режиссёр:Николас Виндинг Рёфн</li>
            <li>Музыка: Клифф Мартинес</li>
            <li>Длительность: 100 мин.</li>
        </ul></div>
<h3>Актёры</h3>
        <img src="https://avatars.mds.yandex.net/i?id=556e6faea69cd039b93b1b6eef9a26036ce200d9-7051792-images-thumbs&n=13">
        <p>Гослинг Райан Томас</p>
        <p>Канадский актёр и музыкант. Двукратный номинант на премию «Оскар», лауреат премии «Золотой глобус», двукратный лауреат премии «Спутник» и лауреат премии Национального совета кинокритиков США..</p>
        <img src="https://avatars.mds.yandex.net/i?id=d77593431a08a60936dc6d41b1814fa63edcd4a4-4507927-images-thumbs&n=13">
        <p>Рон Перлман</p>
        <p>Американский актёр кино, телевидения и озвучивания еврейского происхождения, наиболее известный ролью Хеллбоя в фильме «Хеллбой: Герой из пекла» и «Хеллбой 2: Золотая армия», ролью Клэя Морроу в сериале «Сыны анархии», ролью Рейнхардта в фильме «Блэйд 2», а также озвучиванием рассказчика в серии постапокалиптических игр Fallout.</p>
        <img src="https://avatars.mds.yandex.net/i?id=c33e9ba53e056bda96eccde3ecac39f5-4667955-images-thumbs&n=13">
        <p>Брайан Крэнстон</p>
        <p>Американский актёр, режиссёр, продюсер и сценарист. Номинант на премии «Оскар» и BAFTA, лауреат двух премий «Тони», шести премий «Эмми», двух премий «Золотой глобус», а также пяти наград Американской Гильдии киноактёров. Обладатель именной звезды на Голливудской «Аллее славы».</p>
        <img src="https://avatars.mds.yandex.net/i?id=ff865b0676191895fcb2e7a32827651b-5235085-images-thumbs&n=13">
        <p>Кэри Маллиган</p>
        <p>Английская актриса. Обладательница награды Британской академии «BAFTA» в категории «Лучшая актриса» и номинантка в категории «Восходящая звезда», двухкратная номинантка на премии «Оскар», «Золотой глобус» и трёхкратная номинантка на премию Американской Гильдии киноактёров за главные роли в картинах «Воспитание чувств» и «Девушка, подающая надежды». Трёхкратная номинантка на награду «BAFTA» за роли в картинах «Воспитание чувств» и «Драйв». Помимо работы в Великобритании, активно снимается в кино и играет на театральных сценах Лондона и Бродвея.</p>
 {% endblock %}