{% extends "base.html" %}
{% block content %}
{{ super() }}
<center><h1> Кино Афиша <br></h1>
    <div class="film">
    <img src="https://avatars.mds.yandex.net/i?id=5c9e6fad59db4322f57c325ff0378f27daacf664-4406484-images-thumbs&n=13">
        <a href="/drive/">Драйв</a>
    </div>
    <p></p>
     <div class="film">
    <img src="https://avatars.mds.yandex.net/i?id=07cbdbdf214587d0ed571f9d17dbb646bbb60ad8-5480701-images-thumbs&n=13">
        <a href="/amers/">Амерзительная 8</a>
     </div>
    <p></p>
    <div class="film">
    <img src="https://avatars.mds.yandex.net/i?id=07888dc7674c26ea208d6c1c484857d80d6da13d-5987336-images-thumbs&n=13">
        <a href="/save/">Спасти рядового Райана </a>
     </div>
</center>
    {% endblock %}