{% extends "base.html" %}
{% block content %}
{{ super() }}
<center><h1> Спасти рядового Райана<br></h1>
<p>Вторая мировая. Капитан Джон Миллер получает тяжелое задание. Вместе с отрядом из восьми человек он должен отправиться в тыл врага на поиски рядового Джеймса Райана,
  три родных брата которого почти одновременно погибли на полях сражений. Командование приняло решение демобилизовать Райана и отправить его на родину к безутешной матери. Но чтобы найти и спасти солдата,
  крошечному отряду придется пройти через все круги ада.</p>
</center>
 <h3>Описание</h3>
        <div class="film">
        <ul>
            <li></li>
            <li>Жанр:военный, боевик, история</li>
            <li>Страна: США</li>
            <li>Режиссёр: Стивен Спилберг</li>
            <li>Музыка: Джон Уильямс</li>
            <li>Длительность: 169 мин.</li>
        </ul></div>
<h3>Актёры</h3>
        <img src="https://avatars.mds.yandex.net/i?id=786094d0a5a0ecd426d453a92cace5e61319e0d3-8224441-images-thumbs&n=13">
        <p>Том Хэнкс</p>
        <p>Американский актёр, продюсер, режиссёр, сценарист и писатель. Хэнкс начинал свою актёрскую карьеру с ролей на телевидении и комедийных фильмов, прежде чем добился признания в качестве драматического актёра, и получил две премии «Оскар» в категории «Лучшая мужская роль» - за главные роли в фильмах «Филадельфия» и «Форрест Гамп», тем самым став одним из двух актёров в истории кинематографа, выигравших данную награду два раза подряд.</p>
        <img src="https://avatars.mds.yandex.net/i?id=d1d5fefa00b5939803722f676a2aa015-4452382-images-thumbs&n=13">
        <p>Барри Пеппер</p>
        <p>Канадский актёр кино и телевидения. Известен благодаря роли Роберта Кеннеди в мини-сериале «Клан Кеннеди».</p>
        <img src="https://avatars.mds.yandex.net/i?id=415c41a70d69af5145c077bcf265429a6153978d-5251286-images-thumbs&n=13">
        <p>БВин Дизель</p>
        <p> Американский актёр, кинорежиссёр, сценарист и продюсер. Основатель продюсерских компаний One Race Films, Racetrack Records, Tigon Studios. В 2002 году стал обладателем премии канала MTV в номинации «Лучшая экранная команда» за роль Доминика Торетто в фильме «Форсаж».</p>
        <img src="https://avatars.mds.yandex.net/i?id=2a00000179f7eb1c16ae74dacc398d0e1deb-4876801-images-thumbs&n=13">
        <p>Том Сайзмор</p>
        <p>Американский актёр, известный благодаря фильмам «Схватка», «Уайетт Эрп» и «Реликт».</p>
 {% endblock %}